.list-group-internal{
	list-style-type: none;
	padding: 0;
}

.list-group-item-internal{
	
}

.small-text{
	font-size: 10px;
}

.medium-text{

}

.large-text{
	font-size: 29px;
}

.faux-footer{
	margin-top: 20px;
}

.remove{
	color: #CFD600;
	text-decoration: underline;
	float: right;
}

.remove:hover{
	color: yellow;
	cursor: pointer;
}

/* bootstrap overrides */
.active{
	color: #CFD600 !important;
	font-size: 18px;
}

.nav>li>a:hover {
	color: black !important;
	background-color: #CFD600 !important;
	background-image: none;
}